/* Horizontal ribbon styles */
.workspace-ribbon.horizontal-ribbon {
	display: flex;
	flex: 0 0 40px;
	flex-direction: row;
	width: 100%;
	height: 40px;
	align-items: center;
	justify-content: space-between;
	padding: 4px 8px;
	margin: 0;
	box-sizing: border-box;
	border-top: 1px solid var(--divider-color);
	border-right: 0;
	background-color: var(--background-secondary);
	overflow-x: auto;
	order: 2;
}

/* Actions container within horizontal ribbon */
.horizontal-ribbon .side-dock-actions {
	flex-direction: row;
	flex: 0 0 auto;
	margin-right: auto;
}

/* Remove some leftover elements, not sure what they are for tbh */
.workspace-ribbon.horizontal-ribbon.mod-left:before {
	content: none;
}